git "https://gitfusion.wakanda.io/qmobile/QMobileDataStore.git" "HEAD"
git "https://gitfusion.wakanda.io/qmobile/QMobileAPI.git" "HEAD"

github "DaveWoodCom/XCGLogger" # logger
github "phimage/Prephirences" # settings
