git "https://gitlab-4d.private.4d.fr/qmobile/QMobileDataStore.git" "HEAD"
git "https://gitlab-4d.private.4d.fr/qmobile/QMobileAPI.git" "HEAD"

github "nvzqz/FileKit" # file management

# from dependencies
github "DaveWoodCom/XCGLogger"
github "Moya/Moya"
github "Alamofire/Alamofire"
github "phimage/Prephirences"
github "SwiftyJSON/SwiftyJSON"
